<div class="card">
    <div class="card-body">
      <h4 class="card-title">Snt. Juana</h4>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Inventarios</th>
            <th>Inventarios</th>
            <th>Inventarios</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pollos</td>
          </tr>
          <tr>
            <td>Pollos</td>
          </tr>
          <tr>
            <td>Pollos</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>