
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">MDEV</h4>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Inventarios</th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="selectInventario('Químicos')">
                <td>Químicos</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Snt. Juana</h4>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Inventarios</th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="selectInventario('Pollos')">
                <td>Pollos</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>