<div class="logIn">

    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Iniciar sesión</h4>
          <form class="form-inline">
            <label class="sr-only" for="inlineFormInputName2">Nombre</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Nombre">
          
            <label class="sr-only" for="inlineFormInputGroupUsername2">Contraseña</label>
            <input type="password" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Contraseña">
          
            <div class="form-check mb-2 mr-sm-2">
              <input class="form-check-input" type="checkbox" id="inlineFormCheck">
              <label class="form-check-label" for="inlineFormCheck">
                Recordar usuario
              </label>
            </div>
          
            <button (click)="login()" class="btn btn-primary mb-2">Ingresar</button>
          </form>
          
        </div>
      </div>

</div>