<div class="row justify-content-center align-items-center">

    <div class="card">
        <div class="card-body">
          <h2 class="card-title">Iniciar sesión</h2>
          <form class="form-inline">
            <label class="sr-only" for="user">Usuario</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="user" placeholder="Usuario" [(ngModel)]="user" name="user">
          
            <label class="sr-only" for="pasword">Contraseña</label>
            <input type="password" class="form-control" id="pasword" placeholder="Contraseña" [(ngModel)]="pasword" name="pasword">
            
            <br>
            <label class="sr-only" for="farms">Granja</label><br>
            <select class="custom-select" id="farms" [(ngModel)]="farmId" name="farm">
              <option *ngFor="let farm of granjas" [value]="farm.id">{{farm.nombre}}</option>
            </select>
          
            <br>
            <div class="form-check mb-2 mr-sm-2">
              <input class="form-check-input" type="checkbox" id="remeber" [(ngModel)]="remeber" name="remeber">
              <label class="form-check-label" for="remeber">
                Recordar usuario
              </label>
            </div>
            
            <br><br>
            <div class="button">
              <button (click)="login()" class="btn btn-primary">Ingresar</button>
            </div>
            
          </form>
          
        </div>
      </div>

</div>