/* You can add global styles to this file, and also import other style files */
.card{
    margin: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.navbar-brand{
    margin-left: 3%;
}
body{
    background-color: rgba(226, 235, 103, 0.774);
}